body {
    height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    flex-grow: 0;
    border-radius: 5px;
    border: 2px solid #3882F6;
    font-weight: 900;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 12px 100px;

}

.top-line {
    display: flex;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    
}

.left-side {
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    align-content: center;
    
}

.info-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.images {
    display: flex;
    padding: 20px 100px;

}

.image {
    display: flex;
    flex-direction: column;
}

.image img {
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 20px 100px;
}

.quote-section p {
    text-align: left;
    justify-content: center;
}

.CTA-section {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 5px;
    display: flex;
    color: #F9FAF8;
    justify-content: space-around;
    padding: 20px 40px;
    margin: 50px 100px;
}

.CTA-text {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.CTA-section button {
    border: 2px solid #E5E7EB;
}

.footer {
    display: flex;
    place-content: center;
    text-align: center;
    font-size: small;
    padding: 30px;
}